.sideLinks {
	width: 40px;
	position: fixed;
	bottom: 0px;
	left: 40px;
	right: auto;
	z-index: 10;
	color: var(--light-slate);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sideLinks__container {
	margin-bottom: 20px;
}

.sideLinks:after {
	content: '';
	display: block;
	width: 1px;
	height: 90px;
	margin: 0px auto;
	background-color: var(--light-slate);
}

.sideLinks.left {
	left: 40px;
	right: auto;
}

.sideLinks.right {
	left: auto;
	right: 40px;
}

@media (max-width: 1080px) {
	.sideLinks.left {
		left: 20px;
	}

	.sideLinks.right {
		right: 20px;
	}
}

@media (max-width: 768px) {
	.sideLinks {
		display: none;
	}
}
