@import '../../shared.css';

.socialSide a {
	color: var(--light-slate);
	padding: 10px;
}

.socialSide a svg {
	width: 20px;
	height: 20px;
}

.socialSide .sideLinks__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.socialSide a:hover {
	color: var(--green);
	transform: translateY(-5px);
}
