@import '../../shared.css';

.social-side a {
	color: var(--light-slate);
	padding: 10px;
}

.social-side a svg {
	width: 20px;
	height: 20px;
}

.social-side .side-links__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.social-side a:hover {
	color: var(--green);
	transform: translateY(-5px);
}
