@import '../../../shared.css';

.navbar {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 11;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: var(--transition);
	padding: 0 50px;
	box-sizing: border-box;
}

.navbar__top {
	height: var(--nav-height);
	background-color: var(--navy);
}

.navbar__hidden {
	height: var(--nav-scroll-height);
	transform: translateY(calc(var(--nav-scroll-height) * -1));
}

.navbar__scroll {
	height: var(--nav-scroll-height);
	box-shadow: 0 10px 30px -10px var(--navy-shadow);
	backdrop-filter: blur(10px);
	background-color: rgb(10, 25, 47, 0.85);
}

.navbar__container {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	box-sizing: border-box;
	font-size: var(--fz-xs);
	z-index: 12;
}

.navbar__logo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
}

.navbar__logo img {
	width: 42px;
	object-fit: contain;
	color: none;
}

.navbar__logo img:hover {
	width: 46px;
}

.navbar__sideDrawer {
	display: none;
}

.navbar__hambox {
	display: none;
}

@media (max-width: 1080px) {
	.navbar {
		padding: 0px 40px;
	}
}

@media (max-width: 768px) {
	.navbar {
		padding: 0px 25px;
	}

	.navbar__navlinks {
		display: none;
	}

	.navbar__sideDrawer {
		transition: ease-in 0.12s;
		position: fixed;
		backdrop-filter: none;
		width: 0vw;
		height: 0vw;
		top: 0px;
		bottom: 0px;
		right: 0px;
		display: unset;
	}

	.navbar__sideDrawer.show {
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0px;
		bottom: 0px;
		right: 0px;
		backdrop-filter: blur(10px);
	}

	.navbar__hambox {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 10;
		margin-right: -15px;
		padding: 15px;
		border: 0px;
		background-color: transparent;
		color: inherit;
		text-transform: none;
		transition-timing-function: linear;
		transition-duration: 0.15s;
		transition-property: opacity, filter;
	}

	.navbar__hambox:focus {
		outline: none;
	}
}
