@import '../../../shared.css';

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 11;
	display: flex;
	align-items: center;
	transition: var(--transition);
	padding: 0 50px;
	box-sizing: border-box;
}

.navbar__top {
	height: var(--nav-height);
	background-color: var(--navy);
}

.navbar__hidden {
	height: var(--nav-scroll-height);
	transform: translateY(calc(var(--nav-scroll-height) * -1));
}

.navbar__scroll {
	height: var(--nav-scroll-height);
	box-shadow: 0 10px 30px -10px var(--navy-shadow);
	backdrop-filter: blur(10px);
	background-color: rgb(10, 25, 47, 0.85);
}

.navbar__container {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	box-sizing: border-box;
	font-size: var(--fz-xs);
}

.navbar__logo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
}

.navbar__logo img {
	width: 42px;
	object-fit: contain;
	color: none;
}

.navbar__logo img:hover {
	width: 46px;
}

.navbar__links {
	display: flex;
	align-items: center;
}

@media (max-width: 1080px) {
	.navbar {
		padding: 0px 40px;
	}
}
