@import '../../shared.css';

.projectCard {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(12, 1fr);
	align-items: center;
}

.projectCard:not(:last-of-type) {
	margin-bottom: 100px;
}

.projectCard__featured {
	margin: 10px 0px;
	color: var(--green);
	font-family: var(--font-mono);
	font-size: var(--fz-xs);
	font-weight: 400;
}

.projectCard__image-container {
	height: 100%;
	transition: var(--transition);
	grid-area: 1 / 6 / -1 / -1;
	position: relative;
	z-index: 1;
	box-sizing: border-box;
}

.projectCard:nth-of-type(2n + 1) .projectCard__image-container {
	grid-column: 1 / 8;
}

.projectCard__image-container:hover {
	transform: scale(1.05);
}

.projectCard__image-container a {
	width: 100%;
	background-color: var(--green);
	border-radius: var(--border-radius);
	vertical-align: middle;
}

.projectCard__image-container a::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	inset: 0px;
	z-index: 3;
	transition: var(--transition);
	background-color: var(--navy);
	mix-blend-mode: screen;
}

.projectCard__image-wrapper {
	width: 100%;
	height: 100%;
}

.projectCard__image {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border-radius: var(--border-radius);
	vertical-align: middle;
	object-fit: fill;
	object-position: center center;
}

.projectCard__content {
	position: relative;
	grid-area: 1 / 1 / -1 / 7;
	z-index: 3;
	text-align: left;
}

.projectCard:nth-of-type(2n + 1) .projectCard__content {
	grid-column: 7 / -1;
	text-align: right;
}

.projectCard__title {
	color: var(--lightest-slate);
	font-size: clamp(20px, 5vw, 25px);
	margin-bottom: 20px;
}

.projectCard__description {
	box-shadow: 0 10px 30px -15px var(--navy-shadow);
	transition: var(--transition);
	position: relative;
	z-index: 2;
	padding: 25px;
	border-radius: var(--border-radius);
	background-color: var(--light-navy);
	color: var(--light-slate);
	font-size: var(--fz-md);
	text-align: left;
	line-height: 1.6;
}

.projectCard:nth-of-type(2n + 1) .projectCard__description {
	text-align: right;
}

.projectCard .projectCard__description:hover,
.projectCard .projectCard__description:focus {
	box-shadow: 0 20px 30px -15px var(--navy-shadow);
}

.projectCard__description:hover {
	box-shadow: 0 20px 30px -15px var(--navy-shadow);
}

.projectCard__techs {
	z-index: 2;
	margin: 25px 0px 10px;
	text-align: left;
}

.projectCard:nth-of-type(2n + 1) .projectCard__techs {
	text-align: right;
}

.projectCard__techs span {
	margin: 0px 20px 5px 0px;
	color: var(--light-slate);
	font-family: var(--font-mono);
	font-size: var(--fz-xs);
	white-space: nowrap;
}

.projectCard__techs span:last-of-type {
	margin-right: 0px;
}

.projectCard__links {
	display: flex;
	justify-content: flex-start;
	margin-left: -10px;
}

.projectCard:nth-of-type(2n + 1) .projectCard__links {
	justify-content: flex-end;
	margin-right: -10px;
}

.projectCard__links span:not(:last-of-type) {
	margin-right: 5px;
}

.projectCard__links a {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	color: var(--light-slate);
}

.projectCard__links a:hover {
	color: var(--green);
}

.projectCard__links a svg {
	width: 20px;
	height: 20px;
}

svg.feather {
	fill: none;
}

@media (max-width: 1080px) {
	.projectCard:nth-of-type(2n + 1) .projectCard__content {
		grid-column: 5 / -1;
	}

	.projectCard__content {
		grid-column: 1 / 9;
	}
}

@media (max-width: 768px) {
	.projectCard__content {
		grid-column: 1 / -1;
		padding: 40px 40px 30px;
		z-index: 5;
	}

	.projectCard:nth-of-type(2n + 1) .projectCard__content {
		grid-column: 1 / -1;
		padding: 40px 40px 30px;
	}

	.projectCard:nth-of-type(2n + 1) .projectCard__image-container {
		grid-column: 1 / -1;
	}

	.projectCard__title {
		color: var(--white);
	}

	.projectCard__description {
		padding: 20px 0px;
		background-color: transparent;
		box-shadow: none;
	}

	.projectCard__techs {
		margin: 10px 0px;
	}
}

@media (max-width: 480px) {
	.projectCard__content {
		padding: 30px 25px 20px;
	}

	.projectCard:nth-of-type(2n + 1) .projectCard__content {
		padding: 25px 25px 20px;
	}
}
