@import '../../../shared.css';

.tabList {
	position: relative;
	z-index: 3;
	width: max-content;
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.tabList__button {
	text-decoration: none;
	text-decoration-skip-ink: auto;
	position: relative;
	transition: var(--transition);
	cursor: pointer;
	display: flex;
	align-items: center;
	width: 100%;
	height: var(--tab-height);
	padding: 0px 20px 2px;
	border-left: 2px solid var(--lightest-navy) !important;
	background-color: transparent;
	color: var(--slate);
	font-family: var(--font-mono);
	font-size: var(--fz-xs);
	text-align: left;
	white-space: nowrap;
	border: 0px;
	border-radius: 0px;
}

.tabList__button:hover,
.tabList__button:active,
.tabList__button:focus,
.tabList__button.active {
	background-color: var(--light-navy);
	color: var(--green);
	outline: 0px;
}

.tabList__styledHighlight {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;
	width: 2px;
	height: var(--tab-height);
	border-radius: var(--border-radius);
	background: var(--green);
	transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

@media (max-width: 600px) {
	.tabList {
		display: flex;
		overflow-x: auto;
		width: calc(100% + 100px);
		margin-left: -50px;
		margin-bottom: 30px;
	}

	.tabList__button {
		width: var(--tab-width);
		border-left: none !important;
		border-bottom: 2px solid var(--lightest-navy) !important;
	}

	.tabList__styledHighlight {
		top: auto;
		bottom: 0px;
		width: 100%;
		max-width: var(--tab-width);
		height: 2px;
		margin-left: 50px;
		transform: translateX(calc(0 * var(--tab-width)));
	}
}

@media (max-width: 480px) {
	.tabList {
		width: calc(100% + 50px);
		margin-left: 0px;
	}

	.tabList__styledHighlight {
		margin-left: 0px;
	}
}
