@import '../../shared.css';

.landing {
	min-height: 100vh;
}

.landing__container {
	margin: 0 auto;
	width: fit-content;
}

.landing__hi {
	font-size: clamp(var(--fz-md), 5vw, var(--fz-lg));
	color: var(--green);
	margin: 0 0 20px 4px;
	font-weight: 400;
	font-family: var(--font-mono);
}

.landing__name {
	color: var(--lightest-slate);
	line-height: 1.3;
}

.landing__subheader {
	color: var(--slate);
	line-height: 1;
	margin-top: 10px;
}

.landing__heading {
	margin: 0px;
	font-size: clamp(35px, 8vw, 75px);
	font-weight: 600;
}

.landing__about {
	color: var(--slate);
	font-weight: 200;
	max-width: 500px;
	margin-top: 40px;
	line-height: 1.5;
}

.landing__button {
	margin-top: 50px;
}

@media (max-width: 480px) {
	.landing__hi {
		margin: 0 0 20px 2px;
	}

	.landing__subheader {
		line-height: 1.1;
	}

	.landing__about {
		margin-top: 20px;
	}
}
