@import '../../shared.css';

.emailSide .sideLinks__container {
	writing-mode: vertical-rl;
	text-orientation: mixed;
	font-size: var(--fz-sm);
	font-family: var(--font-mono);
	letter-spacing: 0.15em;
	padding: 10px;
}

.emailSide a {
	color: var(--light-slate);
	text-decoration: none;
	transition: var(--transition);
}

.emailSide .side-links__container:hover {
	transform: translateY(-3px);
}

.emailSide .side-links__container:hover a {
	color: var(--green);
}

@media (max-width: 768px) {
	.emailSide {
		display: none;
	}
}
