.navbar {
	background-color: rgb(10, 25, 47, 0.85);
	backdrop-filter: blur(10px);
	box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 11;
	height: 70px;
	display: flex;
	align-items: center;
}

.navbar__container {
	padding: 0 40px;
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	box-sizing: border-box;
	font-size: 13px;
}

.navbar__logo {
	color: #ccd6f6;
}

.navbar__links {
	display: flex;
	align-items: center;
}

.navbar__number {
	color: #64ffda;
	margin-right: 5px;
}
