@import '../../shared.css';

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px;
}

.footer a {
	margin-bottom: 5px;
	color: var(--light-slate);
	text-decoration: none;
	font-size: var(--fz-xxs);
	font-family: var(--font-mono);
}

.footer a:hover {
	color: var(--green);
}
