@import '../../../shared.css';

.hambox {
	display: inline-block;
	position: relative;
	width: var(--hamburger-width);
	height: 24px;
}

.hambox__line {
	position: absolute;
	top: 50%;
	right: 0px;
	width: var(--hamburger-width);
	height: 2px;
	border-radius: var(--border-radius);
	background-color: var(--green);
	transition: var(--ham-after);
	transform: rotate(0deg);
}

.hambox.active .hambox__line {
	transition: transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
	transform: rotate(225deg);
}

.hambox__line::before,
.hambox__line::after {
	content: '';
	display: block;
	position: absolute;
	left: auto;
	right: 0px;
	width: var(--hamburger-width);
	height: 2px;
	border-radius: 4px;
	background-color: var(--green);
	transition-timing-function: ease;
	transition-duration: 0.15s;
	transition-property: transform;
}

.hambox__line::before {
	width: 120%;
	top: -10px;
	opacity: 1;
	transition: var(--ham-before);
}

.hambox__line::after {
	width: 80%;
	bottom: -10px;
	opacity: 1;
	transition: var(--ham-after);
}

.hambox.active .hambox__line::before {
	width: 100%;
	top: 0px;
	opacity: 0;
	transition: var(--ham-before-active);
}

.hambox.active .hambox__line::after {
	width: 100%;
	bottom: 0px;
	transform: rotate(-90deg);
	transition: var(--ham-after-active);
}
