@import '../../shared.css';

.number-heading {
	display: flex;
	align-items: center;
	position: relative;
	margin: 10px 0px 40px;
	width: 100%;
	font-size: clamp(26px, 5vw, var(--fz-heading));
	white-space: nowrap;
	color: var(--lightest-slate);
}

.number-heading:after {
	content: '';
	display: block;
	position: relative;
	width: 300px;
	height: 1px;
	margin-left: 20px;
	background-color: var(--lightest-navy);
}

.number-heading span {
	color: var(--green);
	font-weight: 200;
	font-family: var(--font-mono);
	font-size: clamp(var(--fz-md), 3vw, var(--fz-xl));
	margin-right: 10px;
}

@media screen and (max-width: 1080px) {
	.number-heading:after {
		width: 200px;
	}
}
